#myCarousel.carousel.slide{:style => ""}
  %ol{:class => "carousel-indicators"}
    %li{"data-target" => "#myCarousel", "data-slide-to" => "0", :class => "active"}
    %li{"data-target" => "#myCarousel", "data-slide-to" => "1"}
    %li{"data-target" => "#myCarousel", "data-slide-to" => "2"}
  .carousel-inner
    .item.active
      %div{:style => "height: 390px; background-color: black;"}
    .item
      %div{:style => "height: 390px; background-color: green;"}
    .item
      %div{:style => "height: 390px; background-color: red;"}
  %a{:class => "carousel-control left", :href => "#myCarousel", "data-slide" => "prev"}
    &lsaquo;
  %a{:class => "carousel-control right", :href => "#myCarousel", "data-slide" => "next"}
    &rsaquo;